* {
  margin: "0";
  padding: "0";
}
.container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background-color: rgb(22, 17, 17);
}

.container ::-webkit-scrollbar {
  display: none;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1rem 1.2rem;
  flex-direction: column;
  background-color: #cccc;
  border-radius: 10px;
}

img {
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.card h3 {
  font-size: 20px;
  margin: 1rem 0;
}

h1 {
  text-align: center;
  background-color:#cccc;
  
}
